/* Style Header */

header {
    width: 100%;
    height: 8.8rem;
    /* background-color: var(--r-cinza-escuro); */
    display: flex;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header .menu-mobile {
    display: none;
}

header nav ul {
    display: flex;
    margin-right: 3.2rem;
}

header nav ul li {
    margin-right: 3.2rem;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav .btn-primary {
    padding: 0.9rem 3.4rem;
}

/* Style section hero */

.s-hero {
    padding: 5rem 0px;
    background-image: url("/img/1920.jpg");
    background-color: var(--r-cinza-3);
}

.s-hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-hero .text {
    width: 100%;
    max-width: 64rem;

}

.s-hero .sobre{
    margin-left: 1.5rem;
}

.s-hero .text .saudacao {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1px;
    color: var(--white);
    animation: blink 0.7s infinite;
}


.s-hero .text .stack {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1px;
    color: var(--white);
    margin-bottom: 2rem;
}

.s-hero .text p {
    margin-bottom: 5.6rem;
    max-width: 48.8rem;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--white);
}

.s-hero .text .btn-primary {
    padding: 1.7rem 3.7rem;
}

.s-hero .image {
    width: 100%;
    max-width: 41rem;
    height: 49.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section featured cards */

.s-card-featured {
    background-color: var(--r-cinza-3);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.s-card-featured .main-area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 10.5rem;
}

.s-card-featured .title {
    display: flex;
    flex-direction: column;
}

.s-card-featured .title.center {
    align-items: center;
}

.s-card-featured .title p {
    margin-top: 0.8rem;
}

.s-card-featured p {
    color: var(--white-colors-text);
}

.s-card-featured .all-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
}

.s-card-featured .all-cards .card {
    width: 100%;
    max-width: 38.4rem;
    height: 38.2rem;
    background-color: rgba(28, 29, 31, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.4rem;
}

.s-card-featured .all-cards .card.white {
    background-color: white;
}

.s-card-featured .all-cards .card.white h3 {
    color: var(--gray-colors-100);
}

.s-card-featured .all-cards .card.white p {
    color: var(--gray-colors-300);
}

.s-card-featured .all-cards .card .info {
    margin-top: 4rem;
    max-width: 28.8rem;
}

.s-card-featured .all-cards .card .info h3 {
    text-align: center;
}

.s-card-featured .all-cards .card .info p {
    text-align: center;
    margin-top: .8rem;
    line-height: 150%;
}

.all-cards-projetos{
    display: flex;
    justify-content: center;
}

.all-cards-projetos .card-projeto {
    margin-right: 5rem;
    margin-top: 3rem;
}

.all-cards-projetos .card-projeto:last-child {
    margin-right: 0;
}

.main-area-projeto h2 {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.s-card-featured .all-cards-projetos .card-projeto {
    width: 100%;
    max-width: 38.4rem;
    height: 42.2rem;
    background-color: rgba(28, 29, 31, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.s-card-featured .all-cards-projetos .card-projeto .info {
    margin-top: 2rem;
    max-width: 28.8rem;
}

.s-card-featured .all-cards-projetos .card-projeto .info h3 {
    text-align: center;
}

.s-card-featured .all-cards-projetos .card-projeto .info p {
    text-align: center;
    margin-top: .8rem;
    line-height: 150%;
}

/* Second Area */

.s-card-featured .second-area {
    margin-top: 11.2rem;
}

.second-area .top {
    display: flex;
    align-items: center;
    margin-bottom: 6.4rem;
}
.s-card-featured .second-area .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6.4rem;
}

.s-card-featured .second-area .all-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.s-card-featured .second-area .all-imgs .image {
    width: 26.8rem;
    height: 17rem;
    background-color: var(--gray-colors-200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* FOOTER */

footer .copy {
    margin-top: 2.4rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.1rem; 
}

footer .copy p {
    color: var(--white);
}

footer .copy .group {
    display: flex;
    align-items: center;
}

footer .copy .group span {
    color: var(--white);
    margin-right: 0.8rem;
}


/* MODAL */


.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    
}

.btn {
    background-color: var(--r-vermelho);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    color: #FFF;
    display: none;
}

.btn:hover {
    background-color: var(--white);
    color: var(--r-vermelho);
}

.modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;
}

.modal-header h1{
    font-weight: bold;
    text-align: center;
}

.modal-header, .modal-body, .modal-footer{
    padding: 10px;
}

.modal-header{
    background-color: var(--r-vermelho);
}